body{
    color: darkblue;
    font-family: Comic Sans MS,DFKai-SB;
}
.introduction{
    color: black;
    font-size: 14pt;
    
}
/* hr.style-1{
    border: 10;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right,#ccc,#333,#ccc);

} */

hr.style-1 {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
}
hr.style-1:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
  }
.restaurant{
    
    font-size: 21px; 
    color: black ;
    font-weight: 800; 
    text-decoration:none;
    background: rgba(173, 216, 230, 0.3);
   
}
.mark1{
    background: chartreuse;
}
